<app-header></app-header>

<div class="container">
  <app-hamster-card [text]="postTexts[0]" [hamsterImages]="hamsterImages[0]"></app-hamster-card>
  <app-hamster-card [text]="postTexts[1]" [hamsterImages]="hamsterImages[1]"></app-hamster-card>
  <app-hamster-card [text]="postTexts[2]" [hamsterImages]="hamsterImages[2]"></app-hamster-card>
  <app-hamster-card [text]="postTexts[3]" [hamsterImages]="hamsterImages[3]"></app-hamster-card>
  <app-hamster-card [text]="postTexts[4]" [hamsterImages]="hamsterImages[4]"></app-hamster-card>
  <app-hamster-card [text]="postTexts[5]" [hamsterImages]="hamsterImages[5]"></app-hamster-card>
</div>